# SQL Exercise



[SQLAlchemy](https://www.sqlalchemy.org/) is a wrapper for Python that allows us to write SQL queries in Python. We will use this to practice our SQL basics in Python.

First, we need to connect to a database. We will just read a table into SQL for this step. We will be creating a [SQLite](https://sqlite.org/index.html) database and loading our [data](https://drive.google.com/file/d/18MgOmIHHafoubgp2d_7GM6GWroxb0vPe/view?usp=sharing) into that database.

In [1]:
# imports
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read the data in as a Pandas Dataframe
school = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vRtLDEwVA8XXd7-XHjvaU7zkMhlRlFjXExCXJZKdUpa6xrYpyaxUifltjgaN5wTFRA_bg_UXyFOB1p7/pub?gid=1976095986&single=true&output=csv')
# load table 2'
facility = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR5UNxWcE8ctwA8OFn2v0RmWfoIEUK_9dUqmXQCV3lbJwZ7JLjdDz6P3YbcFbCMHUxswF07RawZzX0V/pub?gid=601105917&single=true&output=csv')

In [3]:
school.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1249 entries, 0 to 1248
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   DistrictName                1249 non-null   object
 1   EstablishmentCode           1249 non-null   object
 2   EstablishmentName           1249 non-null   object
 3   BRCName                     1249 non-null   object
 4   CRCName                     1249 non-null   object
 5   SchoolLevel                 1246 non-null   object
 6   ManagementName              1246 non-null   object
 7   LocalityHabitation          1221 non-null   object
 8   SubdivisionName             1241 non-null   object
 9   ConstituencyName            1249 non-null   object
 10  RevenueBlockName            1249 non-null   object
 11  CivicBodyName               1249 non-null   object
 12  WardName                    1249 non-null   object
 13  PostOfficeName              1249 non-null   object
 14  PhoneNo                     794 non-null    object
 15  FaxNo                       20 non-null     object
 16  EmailID                     182 non-null    object
 17  Website                     24 non-null     object
 18  LocatedInRuralOrUrban       1249 non-null   object
 19  DiseCode                    439 non-null    object
 20  EstablishedDate             1230 non-null   object
 21  DistrictHQDistance (in Km)  1246 non-null   float64
 22  CRCDistance (in Km)         1246 non-null   float64
 23  BACDistance (in Km)         1246 non-null   float64
 24  IsRecognized                1246 non-null   object
 25  RecognizedBy                1004 non-null   object
 26  ContactPersonName           0 non-null      float64
 27  LowestClass                 1246 non-null   object
 28  HighestClass                1246 non-null   object
 29  BoardName                   784 non-null    object
dtypes: float64(4), object(26)
memory usage: 292.9+ KB

### Create a SQLite Database

In [4]:
# create sqlite engine and create empty database name school
engine = create_engine('sqlite:///school.db', echo=True)
# create connection to engine
conn = engine.connect()

In [5]:
print(engine.table_names())

2023-07-17 11:12:30,314 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2023-07-17 11:12:30,314 INFO sqlalchemy.engine.Engine [raw sql] ()
['facilities', 'school_details', 'school_facility_details', 'schools']

/var/folders/td/cybzgn316hq8r5cn05lb0y2m0000gn/T/ipykernel_30786/1043810782.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  print(engine.table_names())

In [6]:
# add the dataframe as a table in sqlite
sqlite_table1 = "school_details"
school.to_sql(sqlite_table1, conn, if_exists='fail')

sqlite_table2 = "school_facility_details"
facility.to_sql(sqlite_table2, conn, if_exists='fail')

2023-07-17 11:12:38,519 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("school_details")
2023-07-17 11:12:38,520 INFO sqlalchemy.engine.Engine [raw sql] ()

ValueError: Table 'school_details' already exists.

- Lets see how is our table look like

In [8]:
# Using SELECT view school_details data
sql = """
SELECT *
FROM school_details limit(5)
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df

2023-07-17 11:14:55,079 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details limit(5)

2023-07-17 11:14:55,081 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishedDate,DistrictHQDistance (in Km),CRCDistance (in Km),BACDistance (in Km),IsRecognized,RecognizedBy,ContactPersonName,LowestClass,HighestClass,BoardName
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,28126,58.0,8.0,16.0,Recognized,HRDD,None,Class 1,Class 5,None
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,15342,50.0,0.0,6.0,Recognized,HRDD,None,Class 1,Class 12,C.B.S.E.
2,2,East,S0848,"CENTRAL POINT ACADEMY, CENTRAL PENDAM",Duga Brc,Central Pendam Government Senior Secondary School,SS,Private (Unaided),UPPER BHURUNG CENTRAL PENDAM,Gangtok,...,37257.38681,49.0,1.5,6.0,Recognized,"HRDD, GOVT. OF SIKKIM",None,Class 1,Class 10,C.B.S.E.
3,3,East,S0190,CHEURIBOTEY GOVERNMENT JUNIOR HIGH SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,JHS,State Govt.,CHEURIBOTEY,Gangtok,...,28856,60.0,6.0,6.0,Recognized,State Govt.,None,Class 1,Class 8,None
4,4,East,S0111,DUGA GOVERNMENT SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SS,State Govt.,DUGA,Gangtok,...,1828,52.0,0.0,0.5,Recognized,c.b.s.e.,None,Class 1,Class 10,C.B.S.E.

In [9]:
# Using SELECT view col1 from school
sql = """
SELECT DistrictName,PhoneNo
FROM school_details
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df

2023-07-17 11:15:26,564 INFO sqlalchemy.engine.Engine
SELECT DistrictName,PhoneNo
FROM school_details

2023-07-17 11:15:26,567 INFO sqlalchemy.engine.Engine [raw sql] ()

     DistrictName             PhoneNo
0            East                None
1            East          3592263812
2            East  03592263809/263960
3            East                None
4            East          9832082915
...           ...                 ...
1244         West          9733084983
1245         West                None
1246         West          9735054681
1247         West          9593377402
1248         West                None

[1249 rows x 2 columns]

What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."

In [10]:
# What is the average BACDistance (in Km)? Rename the output column to "avg_bac_distance."
sql = """
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df

2023-07-17 11:16:47,233 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details

2023-07-17 11:16:47,233 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         12.681822

What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.

In [12]:
# What is the average BACDistance (in Km) by School Level? Sort the results from highest average to lowest average.
sql = """
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2023-07-17 11:17:44,420 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
ORDER BY avg_bac_distance DESC

2023-07-17 11:17:44,422 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         13.692647
1         12.830787
2         12.630872
3         10.863095
4          5.368421

Repeat the previous query, but only display results where the average distance is at least 10 km.

In [13]:
# Repeat the previous query, but only display results where the average distance is at least 10 km.
sql = """
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df

2023-07-17 11:17:53,791 INFO sqlalchemy.engine.Engine
SELECT AVG("BACDistance (in Km)") as avg_bac_distance
FROM school_details
GROUP BY SchoolLevel
HAVING avg_bac_distance >= 10
ORDER BY avg_bac_distance DESC

2023-07-17 11:17:53,795 INFO sqlalchemy.engine.Engine [raw sql] ()

   avg_bac_distance
0         13.692647
1         12.830787
2         12.630872
3         10.863095

Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.

In [14]:
# Join the two tables together (school_details and school_facility_details). Start by displaying all of the columns, but limit the resulting rows to just 2.
sql = """
SELECT *
FROM school_details as sd
JOIN school_facility_details as sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode
LIMIT 2
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df

2023-07-17 11:17:58,355 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details as sd
JOIN school_facility_details as sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode
LIMIT 2

2023-07-17 11:17:58,356 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,0,East,S0169,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,BUDANG,Gangtok,...,BUDANG GOVERNMENT PRIMARY SCHOOL (E),Available,100,Available,2,Available,Available,1,Not Available,Not Available
1,1,East,S0099,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,SSS,State Govt.,CENTRAL PENDAM,Gangtok,...,CENTRAL PENDAM GOVERNMENT SENIOR SECONDARY SCHOOL,Available,0,Available,5,Available,Available,2,Not Available,Available

Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.

In [15]:
# Now, select just the schools where the SchoolLevel is "PS" that do not have libraries.
sql = """
SELECT *
FROM school_details as sd
JOIN school_facility_details as sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode AND sd.SchoolLevel = "PS" AND sfd.IsLibraryAvailable = "Not Available"
"""
# Read the sql query into pandas to view the results
df = pd.read_sql_query(sql, engine)
df.head()

2023-07-17 11:18:02,270 INFO sqlalchemy.engine.Engine
SELECT *
FROM school_details as sd
JOIN school_facility_details as sfd
WHERE sd.EstablishmentCode = sfd.EstablishmentCode AND sd.SchoolLevel = "PS" AND sfd.IsLibraryAvailable = "Not Available"

2023-07-17 11:18:02,274 INFO sqlalchemy.engine.Engine [raw sql] ()

,index,DistrictName,EstablishmentCode,EstablishmentName,BRCName,CRCName,SchoolLevel,ManagementName,LocalityHabitation,SubdivisionName,...,EstablishmentName,IsLibraryAvailable,AvailableBooksCount,IsFireExtgAvailable,ExtinguisherCount,HOIRoomAvailable,IsStaffRoomAvailable,NoofStaffRoom,IsLockerForStaffAvailable,IsSportsStoreRoomAvailable
0,5,East,S0856,EASWARAMMA SAI GURUKOOL ACCADEMY,Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),RALUNG,Gangtok,...,EASWARAMMA SAI GURUKOOL ACCADEMY,Not Available,0,Available,2,Available,Not Available,0,Not Available,Not Available
1,8,East,S0876,NEW GARDEN BOARDING SCHOOL (SAJONG),Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,NEW GARDEN BOARDING SCHOOL (SAJONG),Not Available,0,Not Available,0,Not Available,Not Available,0,Not Available,Available
2,15,East,S1230,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Duga Brc,Central Pendam Government Senior Secondary School,PS,Private (Unaided),CENTRAL PENDAM,Gangtok,...,"SARASWATI SHISHU VIDHYALAYA, BUDANG",Not Available,0,Not Available,0,Not Available,Available,1,Not Available,Not Available
3,16,East,S0768,SAWNEY GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,SAWNEY,Gangtok,...,SAWNEY GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Available,Available,1,Not Available,Not Available
4,20,East,S0131,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Duga Brc,Central Pendam Government Senior Secondary School,PS,State Govt.,UPPER PACHAK,Gangtok,...,UPPER PACHAK GOVERNMENT PRIMARY SCHOOL,Not Available,0,Available,1,Not Available,Available,1,Not Available,Not Available

**Your Turn**

Build off the previous query, but order the results alphabetically by name.

In [14]:
# Build off the previous query, but order the results alphabetically by name.



# Read the sql query into pandas to view the results